.activity-wrap.four-choice .answers, .activity-wrap.two-choice .answers{
    width:80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4em;
    grid-row-gap:4em;
}

.green {
    background-color: #237a36;
}

.red {
    background-color: #a50122;
}

.response{
    text-align:center;
    width:75%;
    margin:.5em auto;
    border-radius:20px;
    background-color:white;
    box-shadow:3px 3px 5px gray;
    background-repeat: no-repeat;
    background-size: cover;
    padding:75% 1em 0 1em;
    border:1px solid white;
}

.response img{
    max-width:20vw;
}

.stimuli {
    text-align:center;
    font-size:1.5em;
    margin:1.5em;
}

.positive{
    border:1px solid #237a36;
    background-color:rgb(35,122,54,.15);
}

.positive h3{
    color:#237a36;
}


.negative{
    border:1px solid #a50122;
    background-color:rgb(165,1,34,.15);

}

.negative h3{
    color: #a50122;
}

.active {
    border:1px solid #f0d975;
    background-color:#faf6e4;
}

.feedbackContainer{
    display:grid;
    grid-template-columns:4fr 1fr;
}


#submitAnswer, #nextQuestion{
    float:right;
    margin-right:6em;
    margin-top:2em;
    grid-column:2/3;
    grid-row:1/2;
}

#feedback-box{
    visibility:hidden;
    grid-column:1/2;
    grid-row:1/2;
    padding:0 2em 0 1em;
    margin:1em 1em 1em 5em;
}

#score{
    background-color:white;
    width:50%;
    margin:0 auto;
    padding:2em;
}