.activity-wrap.four-choice .answers, .activity-wrap.two-choice .answers{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4em;
    grid-row-gap:4em;
}

.response{
    text-align:center;
    width:75%;
    margin:.5em auto;
    border-radius:20px;
    background-color:white;
    box-shadow:3px 3px 5px gray;
    background-repeat: no-repeat;
    background-size: cover;
    padding:75% 1em 0 1em;
}

.response img{
    max-width:20vw;
}

.stimuli {
    text-align:center;
    font-size:1.5em;
    margin:1.5em;
}

.correct{
    border:5px solid #237a36;
    background-color:rgb(35,122,54,.15);
}

.correct h3{
    color:#237a36;
}


.incorrect{
    border:5px solid #a50122;
    background-color:rgb(165,1,34,.15);
}

.incorrect h3{
    color: #a50122;
}

.active {
    border:5px solid #f0d975;
    background-color:#faf6e4;
}