#teacher-nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#teacher-nav li {
    margin-top: 7px;
    list-style: none;
    float: none;
    border: solid #5E99D3 2px;
    color: #5E99D3;
    border-radius: 25px;
    box-shadow: 5px 5px black;
}

#teacher-nav li:hover{
    background-color: #5E99D3;
    color: white;

}